@if(control){

<mat-form-field class="w-full">
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    appOnlyNumericValue
    [type]="type"
    [formControl]="control"
    [placeholder]="placeholder"
    [attr.min]="min"
  />
  @if(control.hasError('required')){
  <mat-error> {{ label }} is required </mat-error>
  } @if(control.hasError('min')){
  <mat-error> Minimum {{ label }} is {{ min ?? "non-negative" }} </mat-error>
  }
      @if (control.hasError('pattern')) {
      <mat-error>{{ label }} must be exactly 10 digits</mat-error>
    }

</mat-form-field>
}
