<mat-form-field class="w-full">
  <mat-label>{{ label }}</mat-label>

  <input
    matInput
    [type]="type === 'password' ? (hide ? 'password' : 'text') : type"
    [formControl]="control"
    [placeholder]="placeholder"
  />
  @if(type === 'password'){
  <button
    mat-icon-button
    matSuffix
    type="button"
    (click)="toggleVisibility()"
    [attr.aria-label]="'Hide password'"
    [attr.aria-pressed]="!hide"
  >
    <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
  </button>
  } @if(control.hasError('minlength')){
  <mat-error
    >{{ label }} must be at least
    {{ control.getError("minlength").requiredLength }} characters
    long</mat-error
  >
  } @if(control.hasError('email')){
  <mat-error>Invalid {{ label }} </mat-error>
  } @if(control.hasError('required')){
  <mat-error>{{ label }} is required</mat-error>
  }

    @if(
    control.parent?.hasError('passwordMismatch') &&
    (control.touched || control.dirty) &&
    (control.parent?.get('confirmPassword') === control)
  ){
  <mat-error>Passwords do not match</mat-error>
  }
</mat-form-field>
