<div class="flex justify-center items-center min-h-screen bg-gray-300 p-4">
  <div class="w-full max-w-md bg-white p-6 rounded-xl shadow-lg">
    <app-form-header-component
      [heading]="'Reset Password'"
    ></app-form-header-component>

    <mat-horizontal-stepper #stepper [linear]="true">
      <mat-step [stepControl]="emailForm">
        <form [formGroup]="emailForm" class="flex flex-col gap-4">
          <app-form-header-component
            [subHeading]="'Request OTP'"
          ></app-form-header-component>

          <app-input-text
            [control]="getControlFrom(emailForm, 'email')"
            [label]="'Email'"
            [placeholder]="'Enter your email'"
          ></app-input-text>

          <button
            mat-flat-button
            color="primary"
            class="w-full bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 sm:py-3 mt-3"
            (click)="onRequestOtp()"
            [disabled]="emailForm.invalid || (sendOTPLoading$ | async)"
            
          >
            Send OTP @if( (sendOTPLoading$ | async)){
            <app-loader-component></app-loader-component>
            }
          </button>

          <a
            mat-button
            class="mt-2 text-blue-600 hover:underline"
            [routerLink]="['/', routerPaths.LOGIN]"
          >
            Back to Login
          </a>
        </form>
      </mat-step>

      <mat-step [stepControl]="verifyForm">
        <form [formGroup]="verifyForm" class="flex flex-col gap-4">
          <app-form-header-component
            [subHeading]="'OTP and Reset Password'"
          ></app-form-header-component>

          <app-input-text
            [control]="getControlFrom(verifyForm, 'otp')"
            [label]="'OTP'"
            [placeholder]="'Enter 6-digit OTP'"
          ></app-input-text>

          <p class="text-sm text-gray-500" *ngIf="verifyForm.get('otp')?.value">
            OTP is valid for 10 minutes.
          </p>

          <app-input-text
            [control]="getControlFrom(verifyForm, 'newPassword')"
            [label]="'New Password'"
            [placeholder]="'Enter new password'"
            [type]="'password'"
          ></app-input-text>

          <app-input-text
            [control]="getControlFrom(verifyForm, 'confirmPassword')"
            [label]="'Confirm Password'"
            [placeholder]="'Confirm new password'"
            [type]="'password'"
            appNoPaste
          ></app-input-text>

          <button
            mat-flat-button
            color="primary"
            class="w-full bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 sm:py-3 mt-3"
            (click)="onResetPassword()"
            [disabled]="
              verifyForm.invalid || (resetPasswordLoading$ | async)
            "
          >
            @if((resetPasswordLoading$ | async)){
            <app-loader-component></app-loader-component>} Submit
          </button>

          <a
            mat-button
            class="mt-2 text-blue-600 hover:underline"
            [routerLink]="['/', routerPaths.LOGIN]"
          >
            Back to Login
          </a>
        </form>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>

