.sidebar {
  position: fixed;
  top:60px;
  left: 0;
  height: calc(100% - 60px);
  width: 220px;
  background:#1b368d;
  color: #fff;
  overflow-y: auto;
  transition: width 0.3s ease, transform 0.3s ease;
  z-index: 999;
  display:flex;
  flex-direction: column;  
  padding-top:20px;
}
.logout-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: calc(100% - 1rem);
  margin: 0.5rem auto 1rem;
  padding: 0.75rem 1rem;
  background:transparent;
  border:none;
  color:fff;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
  transition:  0.3s;
}

.logout-btn:hover {
 background:#FF0000;
}

.logout-icon {
  font-size: 22px;
}

.sidebar.collapsed .logout-btn span {
  display: none;
}

.sidebar.collapsed .logout-btn {
  justify-content: center;
}

.sidebar.collapsed {
  width: 60px;
}

.sidebar ul {
  list-style: none;
  padding: 0.5rem 0;
  margin: 0;
  flex-grow: 1;
}

.sidebar li {
  display: flex;
  align-items: center;
}

.sidebar a {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.75rem 1rem;
  color: #fff;
  text-decoration: none;
  width: 100%;
  transition: background 0.2s;
}

.sidebar a:hover {
   background: #092158;
}

.sidebar li.active a {
  background:#FFC20E;
}

.sidebar mat-icon {
  font-size: 20px;
    color: #fff;
}

.sidebar mat-label {
  color: #fff;
}

.sidebar.collapsed mat-label {
  display: none;
}

@media (max-width: 992px) {
  .sidebar {
    width: 60px;
  }
  .sidebar.collapsed {
    width: 0;
    transform: translateX(-100%);
  }
}
@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
    width: 220px;
    height: 100%;
    top: 60px;
  }
  .sidebar.active {
    transform: translateX(0);
  }
}