<div
  class="min-h-screen flex items-center justify-center bg-gradient-to-br from-slate-50 to-slate-100 px-4 sm:px-6 lg:px-8"
>
  <div class="w-full max-w-md">
    <div class="text-center mb-8">
      <h2 class="text-3xl font-bold text-gray-900">Change Password</h2>
    </div>

    <mat-card class="shadow-xl rounded-2xl overflow-hidden">
      <mat-card-content class="p-6 sm:p-8">
        @if(changePasswordForm){
        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
          <div class="mb-6">
            <app-input-text
              [control]="getControl('oldPassword')"
              [label]="'Old Password'"
              [placeholder]="'••••••••'"
              [type]="'password'"
            ></app-input-text>
          </div>

          <div class="mb-6">
            <app-input-text
              [control]="getControl('newPassword')"
              [label]="'New Password'"
              [placeholder]="'••••••••'"
              [type]="'password'"
            ></app-input-text>
          </div>

          <div class="mb-6">
            <app-input-text
              [control]="getControl('confirmNewPassword')"
              [label]="'Confirm New Password'"
              [placeholder]="'••••••••'"
              [type]="'password'"
            ></app-input-text>
          </div>

          <div class="space-y-4">
            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="isLoading"
              class="w-full h-12 text-base font-semibold rounded-lg shadow-md hover:shadow-lg transition-all duration-200"
            >
              @if (!isLoading) {
              <span class="flex items-center justify-center">
                Change Password
              </span>
              } @else {
              <mat-spinner diameter="24" class="mx-auto" color="accent">
              </mat-spinner>
              }
            </button>
          </div>
        </form>
        }
      </mat-card-content>
    </mat-card>
  </div>
</div>
