.layout {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}
.content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 220px;
  transition: margin-left 0.3s ease;
  padding-top:60px;
}
.content-wrapper.expanded {
  margin-left: 60px;
}
.main-content {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
  background: #fafafa;
  height: calc(100vh - 60px);
}
@media (max-width: 992px) {
  app-sidebar-component {
    width: 60px;
  }
  .content-wrapper {
    margin-left: 60px;
  }
}

@media (max-width: 768px) {
  app-sidbar-component {
    position: fixed;
    top: 60px;
    left: 0;
    height: 100%;
    width: 220px;
    transform: translateX(-100%);
    background: #263238;
    z-index: 1000;
  }
  app-side-barcomponent.active {
    transform: translateX(0);
  }

  .content-wrapper {
    margin-left: 0;
  }
}