<h2 mat-dialog-title>Check In</h2>

@if(checkInForm){

<form
  [formGroup]="checkInForm"
  appAutoFocusInput
  [appAutoFocusInvalid]="checkInForm"
  (ngSubmit)="onSubmit()"
>
  <mat-dialog-content class="space-y-4">
    <app-input-text
      [control]="getControl('checkInReason')"
      [label]="'Check In Reason'"
      placeholder=""
    ></app-input-text>

    <app-input-select
      [control]="getControl('workLocation')"
      [label]="'Work Location'"
      [placeholder]="''"
      [options]="workLocationOptions"
    ></app-input-select>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button type="button" (click)="close()">Cancel</button>
    <button mat-flat-button type="submit" [disabled]="loading$ | async">
      @if(!(loading$|async)){

      <span class="flex items-center justify-center">Check In</span>
      } @else{
      <app-loader-component></app-loader-component>
      }
    </button>
  </mat-dialog-actions>
</form>
}
