@use "@angular/material" as mat;
@use "tailwindcss";
html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  height: 100%;
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  font-family: Roboto, "Helvetica Neue", sans-serif;

  margin: 0;
}

mat-form-field input[type="number"]::-webkit-inner-spin-button,
mat-form-field input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.dialog-actions {
  justify-content: flex-end !important;
}

//snackbar service custom color

.mat-mdc-snack-bar-container .mat-mdc-snackbar-surface {
  .mdc-button__label {
    color: #fff;
  }
}

.snackbar-success.mat-mdc-snack-bar-container .mat-mdc-snackbar-surface {
  background-color: green;
}

.snackbar-error.mat-mdc-snack-bar-container .mat-mdc-snackbar-surface {
  background-color: red;
}

.snackbar-warning.mat-mdc-snack-bar-container .mat-mdc-snackbar-surface {
  background-color: yellow;
}

.snackbar-info.mat-mdc-snack-bar-container .mat-mdc-snackbar-surface {
  background-color: orange;
}
