@use "@angular/material" as mat;
@use "tailwindcss";
html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  height: 100%;
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  font-family: Roboto, "Helvetica Neue", sans-serif;

  margin: 0;
}

mat-form-field input[type="number"]::-webkit-inner-spin-button,
mat-form-field input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.dialog-actions {
  justify-content: flex-end !important;
}

/* shared styling for label and button text */
.mat-mdc-snack-bar-container .mat-mdc-snackbar-surface {
  .mdc-button__label,
  .mdc-snackbar__label {
    color: #fff;
    font-size: 16px;
  }
}

/* mixin to reduce repetition */
@mixin snackbarColor($color) {
  background-color: $color;
}

/* apply color per snackbar type */
.snackbar-success.mat-mdc-snack-bar-container .mat-mdc-snackbar-surface {
  @include snackbarColor(#51a351);
}

.snackbar-error.mat-mdc-snack-bar-container .mat-mdc-snackbar-surface {
  @include snackbarColor(#bd362f);
}

.snackbar-warning.mat-mdc-snack-bar-container .mat-mdc-snackbar-surface {
  @include snackbarColor(#f89406);
}

.snackbar-info.mat-mdc-snack-bar-container .mat-mdc-snackbar-surface {
  @include snackbarColor(#2f96b4);
}
