@if( (loading$ | async)){
<app-loader-component></app-loader-component>
} @if(!(loading$ | async)){

<div
  class="min-h-screen flex items-center justify-center bg-gradient-to-br from-brand-50 to-white px-4"
>
  <mat-card
    class="w-full max-w-md shadow-xl rounded-2xl p-6 space-y-6 bg-white/80 backdrop-blur-md"
  >
    <app-form-header-component
      [heading]="'Welcome Back'"
      [subHeading]="'Log In to your account'"
    ></app-form-header-component>

    @if(loginForm ){

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-4">
      <app-input-text
        [control]="getControl('username')"
        [label]="'Username'"
        [placeholder]="'Enter username'"
      ></app-input-text>

      <app-input-text
        [control]="getControl('password')"
        [label]="'Password'"
        [placeholder]="'••••••••'"
        [type]="'password'"
      ></app-input-text>

      <button
        mat-raised-button
        color="primary"
        class="w-full bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 sm:py-3 mt-3"
        type="submit"
      >
        Login
      </button>

      <div class="flex justify-between text-sm text-gray-600 mt-4">
        <a routerLink="/reset-password" class="hover:underline"
          >Forgot password?</a
        >
        <a class="hover:underline" (click)="navigateTo()">Sign up</a>
      </div>
    </form>
    }
  </mat-card>
</div>
}
